#root {
  background-color: #f1f5f8;
}

#root * {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: violet;
}
#root h2 {
  color: red;
}
.book h2 {
  font-size: 20px;
}
.book h5 {
  font-size: 15px;
  letter-spacing: 2px;
}
